---

---

<section id="slide07" class="slide">
    <div class="container2">
        <h2 class="h2 tGradient">Политика сайта</h2>

        <div class="content">
            <div class="left">
                <h3 class="t25 tit">Что мы проверим:</h3>

                <div class="leftContent">
                    <div class="item">
                        <img
                            src="/src/assets/s7/1.svg"
                            alt="Защита данных и ФЗ-152"
                        />
                        <p class="t20 itemT">Защита данных и ФЗ-152</p>
                    </div>
                    <div class="item">
                        <img
                            src="/src/assets/s7/2.svg"
                            alt="Пользовательское соглашение"
                        />
                        <p class="t20 itemT">Пользовательское соглашение</p>
                    </div>
                    <div class="item">
                        <img
                            src="/src/assets/s7/3.svg"
                            alt="Соблюдение закона о рекламе"
                        />
                        <p class="t20 itemT">Соблюдение закона о рекламе</p>
                    </div>
                    <div class="item">
                        <img
                            src="/src/assets/s7/4.svg"
                            alt="Проверка SEO-потенциала"
                        />
                        <p class="t20 itemT">Проверка SEO-потенциала</p>
                    </div>
                    <div class="item">
                        <img src="/src/assets/s7/5.svg" alt="Чистота языка" />
                        <p class="t20 itemT">Чистота языка</p>
                    </div>
                    <div class="item">
                        <img
                            src="/src/assets/s7/4.svg"
                            alt="Раскрытие работы нейросетей"
                        />
                        <p class="t20 itemT">Раскрытие работы нейросетей</p>
                    </div>
                    <div class="item">
                        <img
                            src="/src/assets/s7/5.svg"
                            alt="Проверка сбора данных"
                        />
                        <p class="t20 itemT">Проверка сбора данных</p>
                    </div>
                    <div class="item">
                        <img
                            src="/src/assets/s7/5.svg"
                            alt="Публичная оферта"
                        />
                        <p class="t20 itemT">Публичная оферта</p>
                    </div>
                </div>

                <p class="ps siniy t25">
                    * Обеспечим полную правовую безопасность вашего бизнеса в
                    цифровой среде
                </p>
            </div>

            <div class="right">
                <h3 class="t25 tit">Результат для вас</h3>

                <ul class="rightList">
                    <li>
                        Полное соответствие актуальным требованиям надзорных
                        органов
                    </li>
                    <li>
                        Ваш сайт вызывает доверие у крупных заказчиков и
                        холдингов
                    </li>
                    <li>
                        Четкое разделение ответственности между владельцем сайта
                        и посетителем
                    </li>
                    <li>Юридически «чистый» ресурс</li>
                </ul>

                <div class="group">
                    <div class="group grup2">
                        <p class="t16 grey">Сроки:</p>
                        <span class="t20 siniy"> 2 - 5 дней </span>
                    </div>
                    <div class="group grup2">
                        <p class="t16 grey">Стоимость:</p>
                        <span class="t20 siniy"> от 15 000 ₽</span>
                    </div>
                </div>

                <div class="decor">
                    <img class="decorImg" src="/src/assets/decor.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .content {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .grup2 {
        gap: 12px;
    }

    .ps {
        font-family: var(--second-family);
        font-style: italic;
        font-weight: 400;
        line-height: 1.2;
    }

    .left {
        margin-right: 30px;
        margin-top: 60px;
    }

    .right {
        padding: 70px 0 30px 30px;
        border-left: 1px solid var(--svetlo-seryy);

        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 40px;

        overflow: hidden;
    }

    .decor {
        position: absolute;
        z-index: 1;
        width: 50%;
        bottom: 0;
        height: 50%;
        right: 0;
    }

    .decorImg{
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
    }

    .rightList {
        padding-left: 20px;
    }
    .rightList li {
        list-style: decimal;
        padding-bottom: 10px;
    }

    .leftContent {
        margin: 30px 0;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 10px;
    }

    .item {
        background: var(--belyy);
        border-radius: var(--br);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 20px;

        padding: 50px 40px;
    }

    .itemT {
        font-family: var(--second-family);
        font-weight: 700;
        line-height: 1.2;
        text-align: center;
    }
</style>
