---

---

<section id="slide03" class="slide">
    <div class="container2">
        <h2 class="h2">Наши услуги</h2>
        <div class="content">
            <div
                class="item"
                style="--colS:1; --colEnd:2; --rowS:1; --rowEnd:2;"
            >
                <div class="group">
                    <h3 class="t28">Умные чат-боты</h3>
                    <p class="t16 grey">
                        Внедряем умных чат-ботов на базе ИИ, которые ведут
                        диалог, собирают заявки, консультируют клиентов и
                        экономят до 30 % бюджета
                    </p>
                </div>

                <div class="group">
                    <div class="group g2">
                        <p class="t16">Сроки:</p>
                        <span class="t25 siniy"> от 2 дней </span>
                    </div>
                    <div class="group g2">
                        <p class="t16">Стоимость:</p>
                        <span class="t25 siniy"> от 20 000 ₽ </span>
                    </div>
                </div>
            </div>

            <div
                class="item"
                style="--colS:3; --colEnd:2; --rowS:1; --rowEnd:1;"
            >
                <div class="group">
                    <h3 class="t28">Мобильное приложение</h3>
                </div>

                <div class="group">
                    <div class="group g2">
                        <p class="t16">Сроки:</p>
                        <span class="t25 siniy">от 20 дней</span>
                    </div>
                    <div class="group g2">
                        <p class="t16">Стоимость:</p>
                        <span class="t25 siniy"> от 200 000 ₽ </span>
                    </div>
                </div>
            </div>
            <div
                class="item glav"
                style="--colS:3; --colEnd:2; --rowS:2; --rowEnd:1;"
            >
                <div class="group">
                    <h3 class="h2">Аудит</h3>
                    <p class="t30">вашего сайта</p>

                    <p class="t28 pric">Бесплатно</p>
                </div>
            </div>
            <div
                class="item"
                style="--colS:5; --colEnd:2; --rowS:1; --rowEnd:2;"
            >
                <div class="group">
                    <h3 class="t28">Политика сайта</h3>
                    <p class="t16 grey">
                        Проводим полную юридическую проверку и настройку
                        политики сайта: защита данных, ФЗ-152, оферта и
                        соответствие всем требованиям закона
                    </p>
                </div>

                <div class="group">
                    <div class="group g2">
                        <p class="t16">Сроки:</p>
                        <span class="t25 siniy">от 2 дней </span>
                    </div>
                    <div class="group g2">
                        <p class="t16">Стоимость:</p>
                        <span class="t25 siniy"> от 15 000 ₽</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="content2">
            <div
                class="item"
                style="--colS:1; --colEnd:1; --rowS:1; --rowEnd:1;"
            >
                <div class="group">
                    <h3 class="t28">Разработка сайта</h3>
                </div>

                <div class="group">
                    <div class="group g2">
                        <p class="t16">Сроки:</p>
                        <span class="t25 siniy"> от 7 дней </span>
                    </div>
                    <div class="group g2">
                        <p class="t16">Стоимость:</p>
                        <span class="t25 siniy">от 30 000 ₽ </span>
                    </div>
                </div>
            </div>

            <div
                class="item"
                style="--colS:2; --colEnd:1; --rowS:1; --rowEnd:1;"
            >
                <div class="group">
                    <h3 class="t28">техническая поддержка</h3>
                </div>

                <div class="group">
                    
                    <div class="group g2">
                        <p class="t16">Стоимость:</p>
                        <span class="t25 siniy">от 5 000 ₽</span>
                    </div>
                </div>
            </div>

            <div
                class="item"
                style="--colS:3; --colEnd:1; --rowS:1; --rowEnd:1;"
            >
                <div class="group">
                    <h3 class="t28">Внедрение ИИ</h3>
                </div>

                <div class="group">
                    <!-- <div class="group g2">
                        <p class="t16">Сроки:</p>
                        <span class="t25 siniy">от 3 дней</span>
                    </div> -->
                    <div class="group g2">
                        <p class="t16">Стоимость:</p>
                        <span class="t25 siniy">от 50 000 ₽ </span>
                    </div>
                </div>
            </div>
            <div
                class="item"
                style="--colS:4; --colEnd:1; --rowS:1; --rowEnd:1;"
            >
                <div class="group">
                    <h3 class="t28">разработка mini app</h3>
                </div>

                <div class="group">
                    <!-- <div class="group g2">
                        <p class="t16">Сроки:</p>
                        <span class="t25 siniy">от 3 дней</span>
                    </div> -->
                    <div class="group g2">
                        <p class="t16">Стоимость:</p>
                        <span class="t25 siniy">от 100 000 ₽ </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .content {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 230px);
        gap: 20px;

        margin-top: 30px;
    }

    .content2 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 230px);
        gap: 20px;

        margin-top: 20px;
    }

    .g2 {
        gap: 0;
    }

    .item {
        border-radius: var(--br);
        background: var(--belyy);

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;

        position: relative;

        padding: 30px 25px;

        grid-column: var(--colS) / span var(--colEnd);
        grid-row: var(--rowS) / span var(--rowEnd);
    }

    .glav {
        align-items: center;
        justify-content: center;

        overflow: hidden;

        background: url(/img/fon03.jpg);
        background-size: cover;
        background-position: center center;
    }

    .glav * {
        color: var(--belyy) !important;
        text-align: center;
    }

    .pric {
        text-transform: none;
        position: relative;
    }

    .pric::after,
    .pric::before {
        content: "";
        background: var(--belyy);
        height: 2px;
        width: 200px;
        position: absolute;
    }

    .pric::after {
        right: -70%;
        top: 50%;
    }

    .pric::before {
        left: -70%;
        top: 50%;
    }
</style>
