---

import PopupForm from "../components/PopupForm.astro";
import Preloader from "../components/Preloader.astro";
---

<!doctype html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<Preloader />
		<!-- 👈 Первым делом -->

		<div class="sliderRoot">
			<slot />
		</div>
		 <PopupForm id="popup-form" defaultTitle="Бесплатный аудит" />

		<div class="cursorProgress">
			<svg viewBox="0 0 100 100">
				<circle fill="none" class="bg" cx="50" cy="50" r="45"></circle>
				<circle fill="none" stroke-widht="4" class="progress" cx="50" cy="50" r="45"></circle>
			</svg>
		</div>
	</body>
</html>

<style is:global>
	/* Блокируем скролл пока грузится */
	body.loading {
		overflow: hidden;
	}

	body.loaded {
		overflow: auto;
	}
</style>

<script>
	document.body.classList.add("loading");
	window.addEventListener("load", () => {
		document.body.classList.remove("loading");
		document.body.classList.add("loaded");
	});
</script>
